Arvutiklassid/arvutid.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="arvutiklassid">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" name="arvutiklass">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" maxOccurs="unbounded" name="arvuti">
                <xs:complexType>
                  <xs:attribute name="os" type="xs:string" use="required" />
                  <xs:attribute name="bränd" type="xs:string" use="required" />
                  <xs:attribute name="kommentaar" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="ruuminumber" type="xs:unsignedShort" use="required" />
            <xs:attribute name="korrus" type="xs:unsignedShort" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>